input {
  syslog {
    port => 5014
    type => "docker"
  }
}

filter {
  mutate {
    rename => { "program" => "containerName" }
    rename => { "logsource" => "containerId" }
    remove_field => ["timestamp8601"]
  }

  grok {
    patterns_dir => ['/usr/share/logstash/patterns']
    match => { "message" => "%{NGINXACCESS}" }
    add_field => { "logType" => "access" }
  }

  grok {
    patterns_dir => ['/usr/share/logstash/patterns']
    match => { "message" => "%{NGINXERROR}" }
  }
}

output {
  elasticsearch {
    hosts => ["{{ elasticsearch_host }}:{{ elasticsearch_port }}"]
  }
}
