xpack.monitoring.enabled: true
xpack.monitoring.elasticsearch.url: http://{{ elasticsearch_host }}:{{ elasticsearch_port }}
xpack.monitoring.elasticsearch.username:
xpack.monitoring.elasticsearch.password:
